golang 1.25.4

# For linting and formatting Go code (includes gofumpt and goimports)
golangci-lint 2.6.2

# For linting shell scripts
shellcheck 0.11.0

# For linting documentation
markdownlint-cli2 0.19.1
lychee 0.21.0
vale 3.13.0
node 23.11.0

# For git hooks
lefthook 2.0.2
